@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* jeu */
#scene{
  width: 1280px;
  height: 853px;
  background-image: url(https://mmi19d09.mmi-troyes.fr/Adventroyes/assets/images/Etape2_img/fondjeu.jpg);
  position: relative;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

#b1, #c1, #m1, #j1, #o1, #r1, #v1{
  width: 15%;
  cursor: grab;
}

#b2, #c2, #m2, #j2, #o2, #r2, #v2{
  width: 15%;
  display: none;
  cursor: grab;

}

#b3, #c3, #m3, #j3, #o3, #r3, #v3{
  width: 15%;
  display: none;
  cursor: grab;
}

#phrase1{
  font-size: 25px;
  margin: 1%;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

#phrase2{
  display: none;
  font-size: 25px;
  margin: 1%;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;

}

#phrase3{
  display: none;
  font-size: 25px;
  margin: 1%;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}


/* texte 1 */ 

#etape4{
 margin:0;
 padding:0;
 background: url(http://149.91.88.37/Adventroyes/assets/images/Etape2_img/decors2.png) no-repeat center fixed;
 -webkit-background-size: cover; /* pour anciens Chrome et Safari */
 background-size: cover; 

}


#texte1 p{
  font-family: 'Roboto', sans-serif;
  font-size: 30px
}

#texte1 {
  width: 50%;
  margin-top: 25%;
  margin-left: 23%;
  padding: 10px;
  background: rgb(255, 255, 255, 0.8) ;
  border: 5px solid #efbd76;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}



#reponse p{
  font-family: 'Roboto', sans-serif;
  font-size: 30px
}

#reponse {
  width: 50%;
  margin-top: 15%;
  margin-left: 33%;
  padding: 10px;
   position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}



#texte2 p{
  font-family: 'Roboto', sans-serif;
  font-size: 28px
}

#texte2 p {
  width: 50%;
  margin-top: 15%;
  margin-left: 15%;
  padding: 10px;
  padding-left: 10px;
  background: rgb(255, 255, 255, 0.8) ;
  border: 5px solid #efbd76;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#texte2 p:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: : 26px solid #fff;
  border-bottom: 13px solid transparent;
}

#texte2 img{
  width: 20%;
  float: right;
  margin-top: 18%;
  margin-right:8%;
}

#texte2{
  display: inline-block;
}

#texte3 p{
  font-family: 'Roboto', sans-serif;
  font-size: 28px
}

#texte3 p {
  width: 50%;
  margin-top: 15%;
  margin-left: 15%;
  padding: 10px;
  padding-left: 10px;
  background: rgb(255, 255, 255, 0.8) ;
  border: 5px solid #efbd76;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#texte3 p:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: : 26px solid #fff;
  border-bottom: 13px solid transparent;
}

#texte3 img{
  width: 20%;
  float: right;
  margin-top: 18%;
  margin-right:8%;
}

#texte3{
  display: inline-block;
}


#suite{
    position: absolute;
    bottom: 20px;
    right: 40px;
}


#lien img{
  float: right;
  margin-top: 1%;
  margin-right: 5%;
  background: rgb(255, 255, 255, 0.8) ;
  border: 5px solid #efbd76;
  padding: 1%;
  border-radius: 10px;
  position: absolute;
}

#envoyer-etape2 {
    height: 20px;
    margin-top: 5%;
    width: 15vw;
    height: 30px;
    color: #332B40;
    cursor: pointer;
    padding: 1vw 1.5vw;
    border-radius: 25px;
    background-color: rgb(255, 255, 255, 0.7);
    border: 3px solid #efbd76;
    margin-top: 5vh;
    font-size: 1em;
    font-weight: bold;
    min-width: 15vw;
    min-height: 4vw;
    outline: none;
}

#envoyer-etape2:hover {
    background-color: #efbd76;

}
#reponse-etape2  {
    width: 12vw;
    height: 30px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255, 0.7);
    border: 3px solid #efbd76;
    padding: 1vw 1.5vw;
    color: #332B40;
    font-size: 1em;
    outline: none;
}